<html>
    <head>
        <link rel="stylesheet" href="/libs/bootstrap.min.css">
        <link rel="stylesheet" href="/libs/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
        <link rel="icon" type="image/png" href="/g3.png">
        <title>G3 Scouting!</title>
    </head>
    <h1>Welcome to the data manager!</h1>
    <% if (sheets[0]) { %>
        <h3>Please select a sheet below.</h3>
        <% for (let i=0; i < sheets.length; i++) { %>
            <a href="/data?sheet=<%=sheets[i]%>">#<%=i+1%>: <%=sheets[i]%></a><br>
        <% } %>
    <% } else { %>
        <h3>No sheets were found! Contact your server administrator if you think this is an issue.</h3>
    <% } %>
</html>

<style>
    body {
        margin: 20px;
        background-color: rgb(255, 73, 73);
    }

    a {
        color: black;
        font-size: large;
    }
</style>    