<html>
    <head>
        <link rel="stylesheet" href="/libs/bootstrap.min.css">
        <link rel="stylesheet" href="/libs/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
        <link rel="icon" type="image/png" href="/g3.png">
        <title>G3 Scouting!</title>
        <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
        <script src="/libs/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="/api.js"></script>
    </head>
    <body>

        <div id="save">
            <!-- <div class="g-savetodrive"
            data-src="/sheets?id=scouting"
            data-filename="Scouting.xlsx"
            data-sitename="G3 Robotics">
            </div>
            &nbsp;&nbsp;&nbsp;
            <div>
                <button class="head-buttons">
                    <a href="/sheets?id=scouting">
                        Download <i class="bi bi-download"></i>
                    </a>
                </button>
            </div> -->
            &nbsp;&nbsp;&nbsp;
            <div>
                <button class="head-buttons">
                    <a href="/">
                        Go Home <i class="bi bi-house-door-fill"></i>
                    </a>
                </button>
            </div>
        </div>

        <% if (data?.rows) { %>

        <table class="table table-hover table-bordered" id="data-table">

            <thead>
                <tr>
                    <th id="trash-head"></th>

                    <% for (x=0; x < data.cols.length; x++) { %>
                        <th scope="col">
                            <!-- <button class="btn btn-link" onclick="sortTable('<%= x %>')"> -->
                                <%= data.cols[x] %>
                            <!-- </button> -->
                        </th>
                    <% } %>
                </tr>
            </thead>

            <tbody>

                <% for(i = 0; i < data.rows.length; i++) { %>
                    <tr id="row-<%= i %>">
                        <td class="trash">
                            <i class="bi bi-trash-fill"></i>
                        </td>
                        <% for (x=0; x < data.cols.length; x++) { %>
                            <td>
                                <%= data.rows[i][x] %>
                            </td>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>

        </table>

        <% } else { %>

        <br><br><br>
        <h1>There is no data to show! :(</h1>
        <h3>There may be no responses or there may be in internal error.</h3>

        <% } %>

    </body>
</html>

<style>
    body {
        margin: 20px;
        background-color: rgb(255, 73, 73);
    }

    table {
        border-top: 3px;
        margin-top: 40px;
    }

    #save {
        position: absolute;
        left: 100px;
        top: 5px;
        display : inline-flex;
    }

    .head-buttons a {
        color: black;
        text-decoration: none;
    }

    .head-buttons {
        border: none;
    }

    #trash-head {
        width: 30px;
    }

    .trash:hover {
        cursor: pointer;
    }
</style>

<script>
    $(".trash").on("click", function(){
        const rowNumb = $(this).parent().attr('id').split("-")[1];
        const uSure = confirm(`Row number ${rowNumb} will be deleted!`)
        if (uSure) {
            postData({action: "deleteRow", sheet: "testing-sheet", data: rowNumb})
            window.location.reload();
        }
    })
</script>

<!-- <script>
    function sortTable(row) {
        console.log(row)

        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("data-table");
        switching = true;

        while (switching) {

            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;

                x = rows[i].getElementsByTagName("TD")[row];
                y = rows[i + 1].getElementsByTagName("TD")[row];

                if (Number.isNaN(x.innerHTML)) {
                    x = parseInt(x.innerHTML)
                } else {
                    x = x.innerHTML.toLowerCase()
                }

                console.log(parseInt(y.innerHTML))

                if (Number.isNaN(y.innerHTML)) {
                    y = parseInt(y.innerHTML)
                } else {
                    y = y.innerHTML.toLowerCase()
                }

                if (x > y) {
                    shouldSwitch = true;
                    break;
                }
                
            }

            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
</script> -->