<html>
    <head>
        <link rel="stylesheet" href="/libs/bootstrap.min.css">
        <link rel="stylesheet" href="/libs/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/global.css">
        <link rel="icon" type="image/png" href="/g3.png">
        <script src="/libs/jquery-3.7.1.min.js"></script>
        <script src="/global.js"></script>
        <title>G3 Scouting!</title>
    </head>

    <%- nav %>

    <div id="main">

        <h1>The Blue Alliance Data Viewer</h1>

        <span id="match-number-label">Enter Match Number Below:</span>
        <input class="form-control" id="match-number" placeholder="EX: 13">
        <span id="match-number-label">Search Data:</span>
        <input class="form-control" id="search" placeholder="EX: Total Points">
        <br><br>
        <table id="data">
            <tr>
                <td>
                    <h3>Blue Alliance Data:&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                    <div id="blue">
    
                    </div>
                </td>
                <td id="break">&nbsp;</td>
                <td>
                    <h3>&nbsp;&nbsp;&nbsp;&nbsp;Red Alliance Data:</h3>
                    
                    <div id="red">

                    </div>
                </td>
            </tr>
        </table>
    </div>
</html>

<script src="/data/data-tba.js"></script>
<script>$("#nav-data").addClass("active")</script>

<style>
    #break {
        background-color: black;
    }

    td {
        text-align: center;
    }

    #match-number-label {
        font-size: 30px;
    }

    #main {
        margin: 20px;
    }

    #main h1 {
        font-size: 60px;
    }

    #main h3 {
        font-size: 45px;
    }

    #main a {
        font-size: 30px;
    }

    body {
        background-color: rgb(255, 73, 73);
    }

    a {
        color: black;
        font-size: large;
    }

    .head-buttons a {
        text-decoration: none;
    }
</style>    