<html>
    <head>
        <link rel="stylesheet" href="/libs/bootstrap.min.css">
        <link rel="stylesheet" href="/libs/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
        <link rel="icon" type="image/png" href="/g3.png">
        <link rel="stylesheet" href="/global.css">
        <script src="/libs/jquery-3.7.1.min.js"></script>
        <script src="/js/global.js"></script>
        <title>G3 Scouting!</title>
    </head>

    <%- nav %>

    <div id="forms">

        <h1>Welcome to the scouting forms page!</h1>
        <% if (sheets[0]) { %>
            <h3>Please select a form below.</h3>
            <a href="/formTemplate">#1: Example Form (temp)</a><br>
            <!-- <% for (let i=0; i < sheets.length; i++) { %>
                <a href="/forms?form=<%=sheets[i]%>">#<%=i+1%>: <%=sheets[i]%></a><br>
            <% } %> -->
        <% } else { %>
            <h3>No forms were found! Contact your server administrator if you think this is an issue.</h3>
        <% } %>

    </div>
</html>

<script>$("#nav-forms").addClass("active")</script>

<style>


    #forms {
        margin: 20px;
    }

    #forms h1 {
        font-size: 60px;
    }

    #forms h3 {
        font-size: 45px;
    }

    #forms   a {
        font-size: 30px;
    }

    body {
        background-color: rgb(255, 73, 73);
    }

    a {
        color: black;
        font-size: large;
    }

    .head-buttons a {
        text-decoration: none;
    }
</style>    