<html>
    <head>
        <link rel="stylesheet" href="/libs/bootstrap.min.css">
        <link rel="stylesheet" href="/libs/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
        <link rel="icon" type="image/png" href="/g3.png">
        <link rel="stylesheet" href="/global.css">
        <title>G3 Scouting!</title>
        <script src="/libs/jquery-3.7.1.min.js"></script>
        <script>var exports = {};</script>
        <script type="module" src="/js/global.js"></script>
    </head>
    <body>

        <%- nav %>

        <h1 style="text-align: center;">Please (tell an admin to) setup and deploy a scouting schedule.</h1>

    </body>
</html>

<script>$("#nav-home").addClass("active")</script>