<html>
    <head>
        <link rel="stylesheet" href="/libs/bootstrap.min.css">
        <link rel="icon" type="image/png" href="/g3.png">
        <title>G3 Scouting!</title>
    </head>
    <body>

        <h1>
            <%= title %>
        </h1>

        <form>
            <%- form %>
        </form>

    </body>
</html>