/**
Form maker Css:
**/

/**
Form maker Css:
**/
#titleBlock {
  background-color: lightslategrey;
  font-size: 35px;
  margin-left: 10px;
  border: 1px solid black;
  width: calc(40vw - 20px);
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative !important;
  display: block !important;
  text-align: center;
  border-radius: 12px;
  height: 75px;
}

.editSectionTitleClass {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

#titleEditButton {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

#titleEditIcon {
  width: 30px;
  height: 30px;
}

.form-select {
  width: 95%;
  margin-top: 5px;
  margin-bottom: 5px;
}

#bar {
  width: 40vw;
  height: 100vh;
  z-index: 1;
  background-color: lightgray;
  margin: 0px;
  display: block;
  float: left;
}

.backButton {
  width: calc(40vw - 20px); 
  margin-left: 9px; 
  margin-right: 5px; 
  height: 35px;
  background-color: lightblue;
  border-radius: 12px;
  margin-bottom: 5px;
  display: block;
}

.addElement {
  width: calc(40vw - 32px); 
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  height: 35px;
  background-color: lightblue;
  border-radius: 12px;
  margin-bottom: 10px;
  display: none;
}

.buuttons {
  width: calc(40vw - 26px); 
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 5px;
  border: 1px solid black;
  height: 35px;
  background-color: lightblue;
  border-radius: 12px;
  margin-bottom: 5px;
}

.button {
  background-color: lightblue;
  border: 1px solid black;
  padding: 6px 12px 6px 12px;
  border-radius: 6px;
  font-size: 16px;
}

.button:hover {
  background-color: lightskyblue;
}

.addSection {
  width: calc(40vw - 20px); 
  margin-left: 9px; 
  margin-right: 5px; 
  height: 35px;
  background-color: lightblue;
  border-radius: 12px;
  margin-bottom: 7px;
  margin-top: 15px;
  display: block;
}

.expand {
  float: right;
  background-color: transparent;
  border: none;
  padding-right: 7px;
}

.elementHead {
  background-color: lightslategrey;
  font-size: 35px;
  margin-left: 10px;
  border: 1px solid black;
  width: calc(40vw - 20px);
  padding: 5px;
  margin-top: 10px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  position: relative !important;
  display: block !important;
  text-overflow: ellipsis;
  white-space: no-wrap;
}

.existingQuestionsContainer {
  background-color: white;
  display: none;
  border: 1px solid black;
  width: calc(40vw - 20px);
  margin-left: 10px;
  margin-bottom: 10px;
}

.elementHead:hover {
  cursor: pointer;
}

#elementsPage {
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 40%;
  height: 100vh;
  z-index: 3;
  background-color: lightgray;
  margin: 0px;
  position: fixed;
  display: none;
  transform: translateX(-40vw);
  overflow-x: hidden;
}

#elementsPage::-webkit-scrollbar {
  display: none;
}

#saveLoadPage {
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 40%;
  height: 100vh;
  z-index: 3;
  background-color: lightgray;
  margin: 0px;
  position: fixed;
  display: none;
  transform: translateX(-40vw);
  overflow-x: hidden;
}

#formSectionContainer {
  width: 40vw;
  height: 100vh;
  z-index: 4;
  background-color: lightgray;
  margin: 0px;
  position: fixed;
  display: none;
  transform: translateX(0vw);
  overflow-x: hidden;
  white-space: nowrap;
}

#makeNumberInContainer {
  width: 40vw;
  height: 100vh;
  z-index: 4;
  background-color: lightgray;
  margin: 0px;
  position: fixed;
  display: none;
  transform: translateX(0vw);
  overflow-x: hidden;
}

#formSection{
  font-size: 12px;
  width: 40vw;
  z-index: 5;
  background-color: lightgray;
  margin: 0px;
  position: fixed;
  display: none;
  transform: translateX(0vw);
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  margin-left: 20px;
  margin-top: 20px;
}



.formMakerQuestion {
  margin-right: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.formMakerQuestion > label {
  margin-right: 5px;
}

.advancedOptions {
  display: none;

}

#editProperties {
  width: 40%;
  height: 100vh;
  z-index: 5;
  background-color: lightgray;
  margin: 0px;
  position: fixed;
  display: none;
  transform: translateX(-40vw);
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menuButton {
  width: 35vw;
  margin-left: 2.5vw;
  margin-top: 5vh;
  border-radius: 9px;
  border: none;
  font-size: 40px;
  z-index: 2;
}

#preview {
    -ms-overflow-style: none;
    scrollbar-width: none;
    right: 0px;
    top: 0px;
    /**width: 414px;**/
    max-width: 60vw;
    width: 60vw;
    /**height: 896px;**/
    height: 100vh;
    overflow-y: scroll;
    max-height: 100vh;
    background-color: white;
    /**margin-left: calc((100vw - 414px)/2);
    margin-right: calc((100vw - 414px)/2);
    margin-top: 10px;**/
    position: absolute;
    float: right;
    border: 0px;
}

#preview::-webkit-scrollbar {
  display: none;
}

#textPrompt {
  min-height: 150px;
  height: 20vh;
  width: 45vw;
  display: none;
  position: fixed;
  z-index: 6;
  margin-top: 35vh;
  margin-left: 27.5vw;
  background-color: lightslategrey;
  padding: 12px;
  border-radius: 12px;
}

#textPrompt > button {
  margin-top: 10px;
  margin-right: 5px;
}

.elementTable{
  border-collapse: collapse;
  width: calc(40vw - 32px);
  height: 28px;
  outline: 1px solid black;
  border-radius: 12px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
}

.elemTableMove {
  text-align: center;
  height: 28px;
  padding-left: 5px;
  padding-right: 5px;
  border-collapse: collapse;
}

.elemTableName{
  width: 80%;
  padding-left: 5px;
  padding-right: 5px;
  height: 28px;
  border-collapse: collapse;
  border-right: 1px solid black;
  border-left: 1px solid black;

}

.elemTableEdit{
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  height: 28px;
  border-collapse: collapse;
  border-right: 1px solid black;
}

.elemTableTrash{
  text-align: center;
  height: 28px;
  padding-left: 5px;
  padding-right: 5px;
  border-collapse: collapse;
}

.elemTableMove {
  cursor: grab;
}

.elemTableEdit, .elemTableTrash :hover {
  cursor: pointer;
}

.moveSection {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  transform: translate(0px, -3px);
}

.moveSection :hover {
  cursor: grab;
}

.deleteSection {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

.dragging {
  opacity: 0;
  cursor: grabbing !important;
}




/**Form CSS**/
h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 60px;
}

p {
  margin: 0px;
}

h2 {
  font-size: 50px;
  margin-bottom: 0px;
  padding-left: 5px;
}

textarea {
    width: calc(100vw - 80px);
}

body {
  height: 100%;
  width: 100%;
  user-select: none;
}

table {
  border: 0px;
}

input[type='radio'] { 
   transform: scale(2); 
}

#title_container {
  background-color: lightgrey;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  width: auto;
}

.section_head {
  background-color: lightblue;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 20px 20px 0px 0px;
  height: 70px;
}

.question-block{
  background-color: lightgrey;
  margin-left: 20px;
  margin-right: 20px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

.numInput {
  font-size: 40px;
  margin: 10px;
}

.textInput {
  font-size: 40px;
  margin: 10px;
}

.error {
  color: red;
  font-size: 35;
  margin-left: 20px;
  margin-bottom: 1px;
}

.pointsBlock {
  font-size: 40px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.pointsBlock-head {
  background-color: darkgray;
  width: 100vw - 60px;
  font-size: 40px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.minus {
  background-color: lightslategray;
  width: calc((100vw - 60px)/3);
  height: 100px;
}

.value {
  background-color: lightslategrey;
  width: calc((100vw - 60px)/3);
  height: 100px;
}

.plus {
  background-color: lightslategray;
  width: calc((100vw - 60px)/3);
  height: 100px;
}

.minus:hover, .plus:hover{
  cursor: pointer;
}

.multiple-choice-question {
  margin-left: 20px;
  font-size: 40px;
}

#submitButton {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  height: 45px;
  width: calc(100% - 40px);
  border: 0px;
  background-color: lightblue;
  border-radius: 9px;
  font-weight: bold;
  font-size: 30px;
}

#saveLoadPage {
  padding: 10px;
}

#saveLoadPage input {
  background-color: lightblue;
  border: 1px solid black;
  padding: 6px 12px 6px 12px;
  border-radius: 6px;
  font-size: 16px;
}

.formManagerItem {
  background-color: lightblue;
  border: 1px solid black;
  padding: 6px 12px 6px 12px;
  border-radius: 6px;
  font-size: 22px;
  margin: 10px 0;
}

#saveLoadPage button {
  margin: 0px;
}

.right-align {
  margin-left: auto; 
  margin-right: 0;
}

.invisible-button {
  background-color: transparent;
  border: none;
}

/** Backup without color changes --- Less readable maybe
#titleBlock {
  font-size: 35px;
  margin-left: 10px;
  border: 1px solid black;
  width: calc(40vw - 20px);
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative !important;
  display: block !important;
  text-align: center;
  border-radius: 12px;
  height: 75px;
}

.editSectionTitleClass {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

#titleEditButton {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

#titleEditIcon {
  width: 30px;
  height: 30px;
}

.form-select {
  width: 95%;
  margin-top: 5px;
  margin-bottom: 5px;
}

#bar {
  width: 40vw;
  height: 100vh;
  z-index: 1;
  background-color: lightgray;
  margin: 0px;
  display: block;
  float: left;
}

.backButton {
  width: calc(40vw - 20px); 
  margin-left: 9px; 
  margin-right: 5px; 
  height: 35px;
  background-color: lightblue;
  border-radius: 12px;
  margin-bottom: 5px;
  display: block;
}

.addElement {
  width: calc(40vw - 26px); 
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 10px;
  height: 35px;
  background-color: lightblue;
  border-radius: 12px;
  margin-bottom: 5px;
  display: none;
}

.buuttons {
  width: calc(40vw - 26px); 
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 5px;
  border: 1px solid black;
  height: 35px;
  background-color: lightblue;
  border-radius: 12px;
  margin-bottom: 5px;
}

.button {
  background-color: lightblue;
  border: 1px solid black;
  padding: 6px 12px 6px 12px;
  border-radius: 6px;
  font-size: 16px;
}

.button:hover {
  background-color: lightskyblue;
}

.addSection {
  width: calc(40vw - 20px); 
  margin-left: 9px; 
  margin-right: 5px; 
  height: 35px;
  background-color: lightblue;
  border-radius: 12px;
  margin-bottom: 5px;
  margin-top: 7px;
  display: block;
}

.expand {
  float: right;
  background-color: transparent;
  border: none;
  padding-right: 7px;
}

.elementHead {
  font-size: 35px;
  margin-left: 10px;
  border: 1px solid black;
  width: calc(40vw - 20px);
  padding: 5px;
  margin-top: 5px;
  position: relative !important;
  display: block !important;
  text-overflow: ellipsis;
  white-space: no-wrap;
}

.existingQuestionsContainer {
  display: none;
  border: 1px solid black;
  width: calc(40vw - 20px);
  margin-left: 10px;
  margin-bottom: 5px;
}

.elementHead:hover {
  cursor: pointer;
}

#elementsPage {
  width: 40%;
  height: 100vh;
  z-index: 3;
  background-color: lightgray;
  margin: 0px;
  position: fixed;
  display: none;
  transform: translateX(-40vw);
  overflow-x: hidden;
}

#formSectionContainer {
  width: 40vw;
  height: 100vh;
  z-index: 4;
  background-color: lightgray;
  margin: 0px;
  position: fixed;
  display: none;
  transform: translateX(0vw);
  overflow-x: hidden;
  white-space: nowrap;
}

#makeNumberInContainer {
  width: 40vw;
  height: 100vh;
  z-index: 4;
  background-color: lightgray;
  margin: 0px;
  position: fixed;
  display: none;
  transform: translateX(0vw);
  overflow-x: hidden;
}

#formSection{
  font-size: 12px;
  width: 40vw;
  z-index: 5;
  background-color: lightgray;
  margin: 0px;
  position: fixed;
  display: none;
  transform: translateX(0vw);
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  margin-left: 20px;
  margin-top: 20px;
}



.formMakerQuestion {
  margin-right: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.formMakerQuestion > label {
  margin-right: 5px;
}

.advancedOptions {
  display: none;
  
}

#editProperties {
  width: 40%;
  height: 100vh;
  z-index: 5;
  background-color: lightgray;
  margin: 0px;
  position: fixed;
  display: none;
  transform: translateX(-40vw);
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menuButton {
  width: 35vw;
  margin-left: 2.5vw;
  margin-top: 5vh;
  border-radius: 9px;
  border: none;
  font-size: 40px;
  z-index: 2;
}

#preview {
    right: 0px;
    top: 0px;
    //width: 414px;
    max-width: 60vw;
    width: 60vw;
    //height: 896px;
    height: 100vh;
    overflow-y: scroll;
    max-height: 100vh;
    background-color: white;
    //margin-left: calc((100vw - 414px)/2);
    //margin-right: calc((100vw - 414px)/2);
    //margin-top: 10px;
    position: absolute;
    float: right;
    border: 0px;
}

#textPrompt {
  min-height: 150px;
  height: 20vh;
  width: 45vw;
  display: none;
  position: fixed;
  z-index: 6;
  margin-top: 35vh;
  margin-left: 27.5vw;
  background-color: lightslategrey;
  padding: 12px;
  border-radius: 12px;
}

#textPrompt > button {
  margin-top: 10px;
  margin-right: 5px;
}

//Form CSS

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 60px;
}

p {
  margin: 0px;
}

h2 {
  font-size: 50px;
  margin-bottom: 0px;
  padding-left: 5px;
}

textarea {
    width: calc(100vw - 80px);
}

body {
  height: 100%;
  width: 100%;
  user-select: none;
}

table {
  border: 0px;
}

input[type='radio'] { 
   transform: scale(2); 
}

#title_container {
  background-color: lightgrey;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  width: auto;
}

.section_head {
  background-color: lightblue;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 20px 20px 0px 0px;
  height: 70px;
}

.question-block{
  background-color: lightgrey;
  margin-left: 20px;
  margin-right: 20px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

.numInput {
  font-size: 40px;
  margin: 10px;
}

.textInput {
  font-size: 40px;
  margin: 10px;
}

.error {
  color: red;
  font-size: 35;
  margin-left: 20px;
  margin-bottom: 1px;
}

.pointsBlock {
  font-size: 40px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.pointsBlock-head {
  background-color: darkgray;
  width: 100vw - 60px;
  font-size: 40px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.minus {
  background-color: lightslategray;
  width: calc((100vw - 60px)/3);
  height: 100px;
}

.value {
  background-color: lightslategrey;
  width: calc((100vw - 60px)/3);
  height: 100px;
}

.plus {
  background-color: lightslategray;
  width: calc((100vw - 60px)/3);
  height: 100px;
}

.minus:hover, .plus:hover{
  cursor: pointer;
}

.multiple-choice-question {
  margin-left: 20px;
  font-size: 40px;
}

#submitButton {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  height: 45px;
  width: calc(100% - 40px);
  border: 0px;
  background-color: lightblue;
  border-radius: 9px;
  font-weight: bold;
  font-size: 30px;
}

**/